body {
    width: 1600px;
    height: 5870;
    font-family: Mulish, Arial, sans-serif;
    background-color: rgb(216, 212, 212);
}
header {
    width: 1217px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 56px; 
    /* оступ сверху от границы боди  */
    padding-bottom: 80px; 
    /* оступ снизу до изображения  */
}
nav {
    width: 545px;
}
* {
     box-sizing: border-box; 
     /*Это ширина нашего 
    контента вместе с падингом и бордерами 
    (т.е не расшириться дальше 20+60+20=100, 
    а не 20+60+20=140рх) ВАЖНО ЭТО УКАЗЫВАТЬ ВЕЗДЕ! 
    * - это универсальный элемент,который будет давать
    это значение каждому селектору*/
}
.logo {
    opacity: 1;
    float: left; 
    /* обтекание логотипа слева */
}
.img-logo {
    height: 41px;
    width: 160px;
}
nav {
    float: right; /* обтекание nav справа */
}
.clearfix::after {
    content: ' '; 
    /* пустое место для завершение обтекания */
    display: block; 
    /* создаёт обрыв обтекания потока float блоком пустым */
    clear: both; 
    /* Применение этого свойства 
    сдвигает элемент вниз до тех пор, 
    пока не закончатся float'ы слева/справа/
    с обеих сторон.*/
}
a {
    color: #1F1534;
    opacity: 0.5;
    font-size: 18px;
    line-height: 1.28;
    font-weight: 400;
    text-decoration: none; 
    /* убираю подчёркивание у ссылок */
}
li {
    float: left;
    margin-right: 40px;
    padding-top: 9px;
}
li:last-of-type {
    margin-right: 0px; 
    /* у последнего элемента списков я 
    убираю маржин, чтоб его не перебрасывало 
    на новую страницу */
}
.navigation-link-text {
   color: #1F1534;
   opacity: 1;
   font-weight: 700;
}
.image-tablet {
    width: 693px;
    height: 598px;
    margin-bottom: 97px;    
    margin-left: 109px;
    float: right; 
    /* обрезка флоат, чтоб элемент шёл 
    за ним сразу (правда убирается маржин) */
}
.Virtual_healthcare_section {
    width: 1247px; 
    /* задаю ширину секции */
    margin-left: auto;
    margin-right: auto;
    /* выравниваю секцию по центру */
    clear: both;
    /* Применение этого свойства 
    сдвигает элемент вниз до тех пор, 
    пока не закончатся float'ы слева/справа/
    с обеих сторон.*/
    
}
.Virtual_div_article {
    width: 445px;
    
    /* задаю ширину ,блока содержащего
     текст и ссылку, а так же отступ до 
     картинки справа */
}
h1 {
    color: black;
    font-size: 48px;
    line-height: 1.16;
    font-weight: 700;
    margin-bottom: 25px;
    padding-top: 109px;
}
.Virtual_healthcare_paragraf {
    color: #7D7987;
    font-size: 21px;
    line-height: 1.52;
    font-weight: 300;
    margin-bottom: 45px;
}
.button-consult {
    background-color: #458FF6;
    color: white;
    opacity: 1;
    border-radius: 55px;
    padding: 18px 40px; 
    /* задаём высоту и ширину кнопки
    за счёт раздвижения границ относительно
    внутреннего текста, если длинна текста поменяется
    то высота останется прежней, а ширина
    подстроиться сама  */
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    display: inline-block;
}
/* ВТОРАЯ СЕКЦИЯ */
.section-2-service {
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    
}
.text-service {
    width: 952px;
    margin-left: auto;
    margin-right: auto;
}
.h2-text {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.56;
    color: black;
    text-align: center;
    /* центрирование текста */

}